<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wave Width</string>
		</dict>
		<dict>
			<key>set</key>
			<string>setWaveWidth:forSpecifier:</string>
			<key>get</key>
			<string>waveWidth:</string>
			<key>max</key>
			<integer>150</integer>
			<key>min</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wave Height</string>
		</dict>
		<dict>
			<key>set</key>
			<string>setWaveHeight:forSpecifier:</string>
			<key>get</key>
			<string>waveHeight:</string>
			<key>max</key>
			<integer>150</integer>
			<key>min</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>showValue</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Harbor 2</string>
</dict>
</plist>
